/*
toast style 2017.10.4
*/

.toast{
    position: fixed;
    left:50%;
    transform: translateX(-50%);
    bottom:30px;
    color:white;
    background:black;
    padding: 6px 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}