<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>我的便签</title>
</head>
<body>
  
  <div id="header">
    <a class="note-add" href="javascript:void(0)">添加</a>

    <ul class="user-info">
       <% if ( isLogin ) { %>
        <li class="avatar"><img src=<%= user.avatar_url %> alt=""></li>
        <li><span><%= user.username %></span></li>
        <li><span class="line"> | </span></li>
        <li><a href="/auth/logout" class="auth-logout">注&nbsp;销</a></li>
      <% } else { %>
        <li> <a href="/auth/github" class="auth-github">Github登录</a></li>
       
      <% } %>
      </ul>
  </div>
  <div id="notes-container">
   
  </div>

</body>
</html>