.note-item {
    position: absolute;
    color: #333;
    width: 160px;
    margin: 20px 10px;
    transition: all 0.5s;
    .note-head {
        height: 30px;
        background-color: #ea9b35;
        .delete {
            position: absolute;
            cursor: pointer;
            top: 2px;
            right: 4px;
            font-size: 24px;
            color: #fff;
            opacity: 0;
            transition: opacity .3s;
        }
        &:hover .delete {
            opacity: 1;
        }
        &:before {
            cursor: move;
            position: absolute;
            left: 50%;
            top: -11px;
            margin-left: -32px;
            content: ' ';
            display: block;
            width: 64px;
            height: 18px;
            background: #35bba3;
        }
        &:after {
            position: absolute;
            left: 50%;
            margin-left: 32px;
            top: -11px;
            z-index: -1;
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-left: 5px solid #299683;
            border-top: 18px solid transparent;
        }
    }
    .note-body {
        min-height: 120px;
        padding: 10px;
        background-color: #efb04e;
        outline: none;
    }
}

.draggable {
    opacity: 0.8;
    cursor: move;
    // transition: none;
}